<h1><%= t("search.title") %></h1>

<table class="u-full-width">
  <thead>
    <tr>
      <th><%= t("search.address") %></th>
      <th><%= t("search.long_term") %></th>
      <th><%= t("search.long_term_airbnb") %></th>
      <th><%= t("search.difference") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @rental.address %></td>
      <td><%= @rental.long_term_value %></td>
      <td><%= @long_term_airbnb %></td>
      <td>-</td>
    </tr>
  </tbody>
</table>

<%= link_to t("search.link_new_search"), :root %>
