<h1><%= t("search.title") %></h1>

<table class="u-full-width">
  <thead>
    <tr>
      <th><%= t("search.address") %></th>
      <th><%= t("search.long_term") %></th>
      <th><%= t("search.long_term_airbnb") %></th>
      <th><%= t("search.difference") %></th>
      <th><%= t("search.profitable") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @rental.address %></td>
      <td><%= number_to_currency @rental.long_term_value %></td>
      <td><%= @search_rental.long_term %></td>
      <td><%= number_to_currency @profit.rental_difference %></td>
      <td><%= @profit.profitable? %></td>
    </tr>
  </tbody>
</table>

<%= link_to t("search.link_new_search"), :root %>
